.navigation-rail{
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 50px;
  transition: all 0.3s;
  padding-bottom: 20px;
}
.navigation-rail.open{
  width: 300px;
}
.menu-icon{
  margin: 15px;
  font-size: 22px;
}
.tab-contents{
  display: flex;
  font-size: 20px ;
  align-items: center;
  margin: 15px;
}